@charset "UTF-8";

@media screen and (max-width: 600px) {

#burguer {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px;
    left: 190px;
    cursor: pointer;
}

nav #logo {
    margin-left: -150px;
}

#separacao {
    border-color: transparent;
}

.links a{
    display: none;
}

section, #informacoes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
    position: sticky;
    
}

#capa {
    margin: 0 auto;
    max-width: 350px;
    position: sticky; 
}

#informacoes {
    height: 290px;
}

#button-informacoes {
    display: flex;
    margin-right: 25px;
}

section {
    overflow: hidden;
}

#capa {
    margin-left: 65px;
}

.tudo {
    margin: auto;
}

p {
    max-width: 300px;
    overflow: hidden;
}

#talvez-conheca {
    display: none;
}

}