@charset "UTF-8";

@media screen and (max-width: 600px) {

#burguer {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px;
    left: 215px;
    cursor: pointer;
}

nav #logo {
    margin-left: -110px;
}

#separacao {
    border-color: transparent;
}

.links a{
    display: none;
}

section, #informacoes {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    position: sticky;
}

#capa {
    margin: 0 auto;
    margin-left: 65px;
    max-width: 350px;
}

#pessoal {
    position: sticky;
    margin-left: 0px;
}

#button-informacoes {
    display: flex;
    margin-right: 25px;
}

#destaques, #atividades, #sobre, #formacao, #idioma {
    position: sticky;
    margin-left: 0px;
}

section {
    overflow: hidden;
}

p {
    max-width: 300px;
    overflow: hidden;
}


#talvez-conheca {
    display: none;
}

}