@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
  }
  

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

nav {
    display: flex;
    padding: 6px;
    background-color: var(--fundo-card);
    padding: 0 6rem;
    font-size: 15px;
    margin-bottom: 20px;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

nav img {
    height: 30px;
}

nav form {
    padding: 5px;
}

nav input {
    background-color: var(--input);
    padding: 9px;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 100px;
    border: 4px;
    width: 250px;
}

nav input::placeholder{
    color: #fff;
}

nav .links {
    display: flex;
    gap: 30px;
}

nav .links a{
    margin: auto;
    text-decoration: none;
    color: #fff;
}

nav .links a img {
    display: block;
    text-align: center;
    margin: auto;
    width: 25px;
    height: 25px;
}

nav .links .inicio:hover, .rede:hover, .vagas:hover, .mensagens:hover, .notificacoes:hover, .solucoes:hover {
    filter: brightness(50%);
}



nav .icones {
    display: inline-block;
    
}


#separacao {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

section#pessoal {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

#capa {
    display: flex;
    width: 790px;
    height: 230px;
    justify-content: center;
    
}

#capa img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    position: relative;
    left: -65px;
}

#informacoes {
    width: 788px;
    height: 270px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--fundo-card);
    position: relative;
    left: -65px;
}

#foto-perfil img {
    position: absolute;
    top: -120px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: 30px;
    
}

#informacoes h1 {
    margin-left: 30px;
    margin-top: 60px;
}

#informacoes p{
    margin-left: 30px;
    width: 450px;
}

#cidade p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--texto-secundario);
}

#informacoes a {
    text-decoration: none;
    color: var(--primario);
}

#informacoes a:hover{
    text-decoration: underline;
}

#faculdade {
    display: inline-flex;
    align-items: center;
    position: absolute;   
    left: 550px; 
    gap: 10px;
}

#faculdade img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#faculdade a {
    color: #fff;
}

#faculdade a:hover {
    text-decoration: none;
}

#button-informacoes button{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--primario);
}

#button-mensagem {
    background-color: var(--primario);
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

#button-mensagem:hover {
    background-color: #95c8faf3;
}

#button-mais {
    background-color: transparent;
    cursor: pointer;
    color: var(--primario);
}

#button-mais:hover {
    background-color: #272e33;
}

#destaques {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    background-color: var(--fundo-card);
    width: 788px;
    height: 300px;
    position: relative;
    left: -65px;
}

#destaques h1 {
    color: #fff;
    margin: 20px;
    font-size: 20px;
}

#destaques h2 {
    font-weight: normal;
    margin: 8px;
    color: #ffffff75;
    font-size: 15px;
}

#destaques img {
    width: 236px;   
    height: 152px; 
}

#destaques p {
    margin-left: 8px;
    color: #fff;
}

.publi {
    margin-left: 15px;
    width: 238px;
    height: 210px;
    border: 1px solid #fff;
    border-radius: 10px;
}

#atividades {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--fundo-card);
    width: 788px;
    height: 500px;
    position: relative;
    left: -65px;
    border-radius: 15px;
}

#atividades h1 {
    margin: 15px 0px 10px 25px;
    color: #fff;
    font-weight: normal;
}

#atividades a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--primario);
}

#atividades a:hover {
    text-decoration: underline;
}

#atividades h2 {
    color: #ffffff86;
    font-size: 15px;
    font-weight: normal;
    margin: 15px 0px 10px 25px;
}

#atividades p {
    color: #fff;
    margin-left: 25px;
    font-size: 15px;
}

#atividades h3 {
    color: #fff;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 17px;
}

#atividades .nome-projeto a {
    color: var(--texto-secundario);
    margin: 0px;
}

#atividades .nome-projeto a:hover {
    text-decoration: none;
}

#atividades .nome-projeto p {
    padding-top: 5px;
    font-size: 15px;
}

#atividades .imagem-like {
    background-color: transparent;
    border-color: transparent;
    width: 25px;
    padding:10px 0px 0px 25px;
    cursor: pointer;
}

#atividades img {
    width: 25px;
    
}

#atividades .ativ-1 {
    border-bottom: 1px solid #ffffff3f;
    width: 750px;
    margin: 0 auto;
}

.exibir-publi {
    margin: auto;
}

.exibir-publi button{
    color: #fff;
    width: 788px;
    height: 50px;
    background-color: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.exibir-publi button:hover {
    background-color: #4a5761
}

#sobre{
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-card);
    width: 788px;
    height: 350px;
    margin: auto;
    border-radius: 15px;
    position: relative;
    left: -65px;
    margin-bottom: 20px;
}

#sobre h1 {
    color: #fff;
    margin: 15px;
}

#sobre p{
    color: #fff;
    font-size: 15px;
    text-align: justify;
    width: 750px;
    margin: auto;
}

#formacao {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-card);
    margin: auto;
    margin-bottom: 20px;
    width: 788px;
    height: 180px;
    position: relative;
    left: -65px;
    border-radius: 15px;
}

#formacao h1 {
    margin: 25px;
}

#formacao img {
    width: 50px;
    margin-left: 25px;
}

#formacao a {
    color: #fff;
    text-decoration: none;
}

#formacao .academica {
    position: absolute;
    left: 90px;
    top: 81px;
}

#formacao .academica:hover {
    color: var(--primario);
    text-decoration: underline;
}

#formacao .computacao {
    font-size: 14px;
    position: absolute;
    left: 90px;
    top: 106px;
}

#formacao .ano {
    color: var(--texto-secundario);
    font-size: 14px;
    position: absolute;
    left: 90px;
    top: 128px;
}

#idioma {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-card);
    margin: auto;
    margin-bottom: 20px;
    width: 788px;
    height: 150px;
    position: relative;
    left: -65px;
    border-radius: 15px;
}

#idioma h1 {
    margin-left: 25px;
    margin-top: 15px;
}

#idioma h2 {
    font-size: 18px;
    margin-left: 25px;
    margin-top: 8px;
}

#idioma p {
    margin-left: 25px;
    margin-top: 8px;
    color: var(--texto-secundario);
    padding-bottom: 10px;
    width: 750px;
    border-bottom: 1px solid #ffffff3f;   
}

#talvez-conheca {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-card);
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 580px;
    transform: translateX(500px) translateY(-2095px);

    border-radius: 15px;
}

#talvez-conheca h1 {
    margin: 15px;
    font-size: 15.5px;
}

#talvez-conheca img {
    margin-left: 15px;
    width: 60px;
    border-radius: 50%;
}

#talvez-conheca h2 {
    font-size: 15px;
    position: absolute;
    left: 85px;
    top: 55px;
}

#talvez-conheca p {
    width: 210px;
    font-size: 15px;
    position: absolute;
    left: 85px;
    top: 80px;
}

#talvez-conheca a {
    text-decoration: none;
    color: #fff;
}

#talvez-conheca .nome-pessoa:hover h2 {
    color: var(--primario);
    text-decoration: underline;
}

#talvez-conheca button {
    color: #fff;
    margin: 15px auto;
    width: 120px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;

}

#talvez-conheca button:hover {
    background-color: #ffffff3d;
}

#talvez-conheca .nome-pessoa-2 {
    position: absolute;
    top: 120px;
    width: 200px;
}

#talvez-conheca .profissao-pessoa-2 {
    position: absolute;
    top: 200px;
}